body {
	margin: 0;
	padding: 0;
}

.container {

}

.nav {
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 500px;
	text-align: center;
	background-image: url("bk1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.inner-text-div {
	color: #fff;
	max-width: 780px;
	margin: 0 30%;
}

.inner-container {
	width: 66.67%;
	display: flex;
	flex-direction: column;
	margin: 0 20%;
}

.inner2-container {

}

.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.inner-pro-img {
	position: relative;
	bottom: 50px;
	margin: 0;
	padding: 0;
}

.inner-pro-img img {
	border-radius: 100px;
	height: 100px;
	width: 100px;
}

.inner-pro-text {
	margin: 0;
	padding: 0;
	position: relative;
	bottom: 50px;
}

.inner-pro-text h3{
	margin: 0;
	padding: 0;
}

.inner-pro-text p{
	margin: 0;
	padding: 0;
}

.contents {
	display: flex;
}

.inner-contents1-vertical-col {
	width: 40px;
	border: 2px solid #000;
	display: flex;
	flex-direction: column;
	background-color: green;
}

.inner-contents2 {
	display: flex;
	flex-direction: column;
}

.inner-contents2-inner {

}

.blue {
	height: 60px;
	background-color: blue;
	max-width: 100%;
	width: 100%;
}

.header-text {

}

.header-text h1, p{
	padding: 0;
	margin: 0;
}

.sub-head {
	color: cyan;
}

.pink {
	height: 20px;
	background-color: pink;
	max-width: 100%;
	width: 100%;
}

.some-text {

}

.inner-img {

}

.inner-img img{
	max-width: 100%;
	width: 100%;
}

.purple {
	height: 120px;
	background-color: purple;
}

.inner-contents2-inner2 {

} 